<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8">
   
    
</head>
<body>
<%- include('partials/header') %> 
<form action="/add_offender" method="post" enctype="multipart/form-data" >
           <div>
              <label for="name">Name</label>
              <input type="text" id="name" name="name" required>
            </div>
          
            <div>
              <label for="age">Age</label>
              <input type="text" id="age" name="age" required>
            </div>
           
            <div>
                <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
            


              </div>
              <div>
                <input type="file" accept="image/*" name="photo" >
              </div>
            
              <div>
                <input type="date" id="date_committed" name="date_committed">
              </div>
              
              <script type="text/javascript">
                function showcategory(name){
                  if(name=='OtherCategory')document.getElementById('div1').innerHTML='Other: <input type="text" name="othercategory" />';
                  else   document.getElementById('div1').innerHTML='';
                }
              
                </script>
                
                <select name="category" id="category" onchange="showcategory(this.options[this.selectedIndex].value)">
                <option selected="selected">Offence Category</option>
              
                  <% for (var i = 0; i < category.length ; i++) { %>
                   
                      <option value= <%= category[i].category_name%> > <%= category[i].category_name %> </option>
                     
                     
                  <% } %>
                 
              
             
               
               
                <option value="OtherCategory">Other Category</option>
                </select>
                <div id="div1"></div>
                <select name="region" id="region">
                  <option selected="selected">Region</option>
                
                    <% for (var i = 0; i < locations.length ; i++) { %>
                     
                        <option value= <%= locations[i].region%> > <%= locations[i].region %> </option>
                       
                       
                    <% } %>
                   
                
               
                </select>
                 
                 
  

                  


              <div>
                <label for="victim_age">Victim Age</label>
                <input type="text" id="victim_age" name="victim_age" required>
              </div>
             
              <div>Victim Gender
                  <input type="radio" name="victim_gender" value="male"> Male
              <input type="radio" name="victim_gender" value="female"> Female
              <input type="radio" name="victim_gender" value="other"> Other
              
  
  
                </div>
               

 
  
  
                <button id="button" type="submit">Add Offender Info</button>


            
           
          
</form>
            

</body>


</html>